

.resultsContainer {
	background:#E8EEFA;	
	#padding:5px;
	width:420px;
	#float: left;
	position: absolute;
	top:65px;
	left:30px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	# -webkit-box-shadow: 2px 8px 11px #888;
}

.resultsContainer .gridContainer {
	background:#EAF4F6;
	height:366px;
	border: 1px solid silver;
	border-top:none;
	border-right:none;
	#border-top:1px solid #000;
	#border-left:1px solid #000;	
}

h1 {
	font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
	width:500px;
	padding:0.5em 0.5em 0 0.5em;
	margin:0;
	color:#fff;
	background:#2e2e2e;
	font-weight:normal;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-box-shadow: 2px 2px 11px #888;
}

.dojoxGrid-row-odd td {
	background:#e8f2ff;
}

.resultsTitle{
	color: #80BCBC;
	font-weight: bold;
	position: absolute;
    top: 46px;
    left:30px;
    -moz-border-radius:7px 7px 7px 7px;
	-webkit-border-radius:7px 7px 7px 7px;
	font-weight:bold;
	height:20px;
	margin-bottom:5px;
	width:40px;
}

.resultsBackground {
	-moz-border-radius:7px 7px 7px 7px;
	-webkit-border-radius:7px 7px 7px 7px;
	background-color:#EAF4F6;
	color:white;
	font-weight:bold;
	height:395px;
	left:18px;
	margin-bottom:5px;
	padding:5px;
	position:absolute;
	top:40px;
	width:435px;
	z-index:-1;
	border: 1px dashed #80BCBC;
}

.standingsBackground {
	-moz-border-radius:7px 7px 7px 7px;
	-webkit-border-radius:7px 7px 7px 7px;
	background-color:#EAF4F6;
	color:white;
	font-weight:bold;
	height:190px;
	left:480px;
	margin-bottom:5px;
	padding:5px;
	position:absolute;
	top:40px;
	width:400px;
	z-index:-1;
	border: 1px dashed #80BCBC;
}

.twitterBackground{
	-moz-border-radius:7px 7px 7px 7px;
	-webkit-border-radius:7px 7px 7px 7px;
	background-color:#EAF4F6;
	color:white;
	font-weight:bold;
	height:179px;
	left:480px;
	margin-bottom:5px;
	padding:5px;
	position:absolute;
	top:256px;
	width:400px;
	z-index:-1;
	border: 1px dashed #80BCBC;
}

.standingsTitle {
	-moz-border-radius:7px 7px 7px 7px;
	-webkit-border-radius:7px 7px 7px 7px;
	color:#80BCBC;
	font-weight:bold;
	height:20px;
	left:492px;
	margin-bottom:5px;
	position:absolute;
	top:46px;
	width:40px;
	z-index:-1;
}

.standingsContainer .dojoxGridScrollbox {
    overflow: hidden;
}

.standingsContainer {
	background:#E8EEFA;	
	#padding:5px;
	width:385px;
	#float: left;
	position: absolute;
    top: 65px;
    left:492px;
    #border: 1px solid silver;
    #border-left:1px solid #000;	
    -moz-border-radius:5px 5px 5px 5px;
	# -webkit-box-shadow: 2px 8px 11px #888;
}

.standingsContainer .gridContainer {
	background:#fff;
	height:160px;
	border: 1px solid silver;
	border-top:none;
	#border-top:1px solid #000;
	#border-left:1px solid #000;	
}

.twtr-widget {
    font-family:"lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
	font-size:12px !important;
    position:absolute;
    left:490px;
    top:230px;
}



#.twtr-tweet-text{
#	font-size:8pt;	
#}
